/* Add CSS Styling */
/*.first {
    background-color: black;
    color: white;
}
.second {
    background-color: yellow;
}

.font {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}*/

.first,
.second {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}

.first {
    background-color: black;
    color: white;
}

.second {
    background-color: yellow;
}